:root {
    --main-text-color: #000000;
    --secondary-text-color: #907E82;
    --light-text-color: #FFFFFF;
    --accent-color: #D41443;
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #FFF5F6;
}